*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: min(450px,95%);
    height: 500px;
    border: solid 1px blue;
    display: flex;

    flex-direction: column;

    justify-content: center;
    background-color:transparent;
    border-radius: 10px;
    align-items: center;

}

.login-form:hover{
    box-shadow: 0 0 100px rgb(121, 97, 239) ,0 0 400px 20 rgb(121, 97, 239);
}
.input-group{
    position: relative;
    
    height: 50px;
    width: 95%;
}
.input-group input{
    position:absolute;
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-bottom:solid 1px red ;

    transition: all 200ms;

    
}
.input-group label{
    position: absolute;
    transition: all 200ms;
}
.input-group input:hover +label,
.input-group input:focus +label,
.input-group input:valid +label
{
    transform: translateY(-10px);
}

.top-margin{
    margin-top: 50px;
}

.div-btn-login{
    width: 95%;
    height: 45px;
    
    display: flex;
    justify-content: end;
    align-items: center; 
       

}
.btn-login{
    border: 1px blue;
    width: 150px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
}
.btn-login:hover{
    box-shadow: 0 0 40px rgb(137, 88 ,242);
}
.inactivecolor{
    background-color: rgb(13, 13, 188);
}
.activecolor{
    background-color: rgb(50, 168, 247);
}
